* {
    margin: 0;
    padding: 0;
    position: relative;
  }

header {
    display: flex;
    height: 100px;
    justify-content: space-between;    
    align-items: flex-end;
    padding: 10px;
    flex-wrap: wrap;
    background-color: rgb(48, 15, 42);
}

ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

li {
   padding: 10px; 
}

nav a {
    text-decoration: none;
    color: white;
}

header h1 {
    color: white;
}

main {
    background-color: rgb(41, 40, 40);
    border-radius: 3%;
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}

.mainImage {
    padding-left: 290px;
    padding-right: 290px;
    width: 600px; 
}

.self {
    border-radius: 100%;
}

#aboutMe {
    display: flex;
    flex-wrap: wrap;
}

#work {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

footer {
    display: flex;
    height: 50px;
    justify-content: space-between;    
    align-items: flex-end;
    padding: 10px;
    flex-wrap: wrap;
    background-color: rgb(48, 15, 42);
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer h2 {
    color: white;
}



