* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Benne', serif;
  }

header {
    display: flex;
    height: 100px;
    justify-content: space-between;    
    align-items: flex-end;
    padding: 10px;
    flex-wrap: wrap;
    background-color: rgb(48, 15, 42);
}

ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

li {
   padding: 10px; 
}

nav a {
    text-decoration: none;
    color: white;
}

header h1 {
    color: white;
}
body {
    background-color: rgb(167, 167, 167);
}

main {
    background-color: rgb(41, 40, 40);
    border-radius: 3%;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    
}



.self {
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 200px;
}

#aboutMe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px; 
    text-align: center;
    color: rgb(167, 167, 167);
}

#work {
    padding-top: 70px;
    text-align: center;
    color: rgb(167, 167, 167);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    
}

.mainImage {
    position: relative;
}

.cardImage {
    position: relative;
}

.cardHeader {
    z-index: 1;
    width: 100px;
    background-color: rgb(160, 160, 160);
    position: absolute;
    bottom: 20px;
    left: 37px;
    text-align: center;
    padding-top: 10px;
    color: black;

}

.cardImage:hover {
    opacity: 80%;
}

.cardImageMain:hover {
    opacity: 80%;
}

.cardImageMain {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.projectMain {
    width: 80%;
}

.project {
    width: 80%;
}

.cardImage {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#contact {
    color: white;
    display: flex;
    height: 60px;
    justify-content: space-between;    
    align-items: flex-end;
    padding: 10px;
    flex-wrap: wrap;
    background-color: rgb(48, 15, 42);
}

footer a {
    text-decoration: none;
    color: white;
}

footer h2 {
    color: white;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .cards {
      flex-direction: column;
    }
    .cardHeader{
        left: 150px;
    }

    .cardImageMain {
        width: 50%
    }

  }
