* {
    margin: 0;
    padding: 0;
    position: relative;
  }

  :root {
      --mainColor: rgb(15, 31, 17);
  }

body {
    background-color: rgb(96, 100, 100);
    color: var(--maincolor);
}

img {
    border-radius: 5%;
    margin: 5px;
    border: solid white;  
}

#work img:hover {
    opacity: 80%;
    }
      


header {
    display: flex;
    height: 100px;
    justify-content: space-between;    
    align-items: flex-end;
    padding: 10px;
    flex-wrap: wrap;
    background-color: var(--mainColor);
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

nav li {
   padding: 10px; 
}

nav a {
    text-decoration: none;
    color: white;
}

header h1 {
    color: white;
}




#about-me {
    display: flex;
    width: 80%;
    
    
}

#work {
    display: flex;
    width: 100;
   
}

aside {
    min-width: 200px;
    max-width: 200px;
    border-right: solid;
    border-color: rgb(44, 48, 48);
    
}

section {
    padding: 50px;
}

p {
    padding-left: 20px;
}

.work-div {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;   
}

.aboutMe-div {
    display: flex;
    padding-left: 100px;
    align-items: center;
}

.title1 {
    background-color: white;
    color: var(--mainColor);
    height: 50px;
    position: absolute;
    text-align: center;
    width: 200px;
    top: 425px;
    left: 105px;
    z-index: 1;

}



.title2 {
    background-color: white;
    color: var(--mainColor);
    height: 50px;
    position: absolute;
    text-align: center;
    width: 100px;
    top: 660px;
    left: 105px;
    z-index: 1;
}

.title3 {
    background-color: white;
    color: var(--mainColor);
    height: 50px;
    position: absolute;
    text-align: center;
    width: 100px;
    top: 660px;
    left: 423px;
    z-index: 1;
}

.title4 {
    background-color: white;
    color: var(--mainColor);
    height: 50px;
    position: absolute;
    text-align: center;
    width: 100px;
    bottom: 130px;
    left: 105px;
    z-index: 1;
}

.title5 {
    background-color: white;
    color: var(--mainColor);
    height: 50px;
    position: absolute;
    text-align: center;
    width: 100px;
    bottom: 130px;
    left: 423px;
    z-index: 1;
}




